
#ttr_sidebar
{
    border-left: 1px solid black;
}
#ttr_footer
{
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: left;
}
.title
{
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

/*Start Nav css*/
/*Strip the ul of padding and list styling*/
.primary-menu ul {
    list-style-type:none;
    margin:0;
    padding:0;

}
/*Create a horizontal list with spacing*/
.primary-menu li {
    display:inline-block;

}
/*Style for menu links*/
.primary-menu>ul>li>a {
    display: block;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
}
/*Style for sub menu links*/
li.menu-item-has-children a {
    display: block;
    text-align: left;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
    padding: 5px;
}
/*Hover state for top level links*/
.primary-menu li:hover a {
    background: #cf2e2e;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li.menu-item-has-children ul {
    display: none;
}
/*Make dropdown links vertical*/
li.menu-item-has-children ul li {
    display: block;
}
li.menu-item-has-children ul{
    width: 30%;
}
/*Prevent text wrapping*/
li.menu-item-has-children ul li a {
    text-wrap: none;
    border-radius:0;
}
/*Style for dropdown links*/
.primary-menu li.menu-item-has-children>a::after {
    content:' ▼';
}
.primary-menu li.menu-item-has-children ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
.primary-menu li.menu-item-has-children ul a:hover {
    background: #19c589;
    color: #fff;
}

li.menu-item-has-children ul li a:first-child{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
li.menu-item-has-children ul li a:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
/*Display the dropdown on hover*/
ul li a:hover + .sub-menu, .sub-menu:hover {
    position:absolute;
    display: inline;
    z-index:1000;
}

/*Responsive Styles*/
@media screen and (max-width : 768px){
    li.menu-item-has-children ul{
        width: 50%;
    }
    /*Create vertical spacing*/
    .primary-menu>ul>li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

}

/*End Nav css*/